.charity-sec {
  padding: 80px 0;
  text-align: center;
  > p {
    color: #323232;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 20px;
  }
  strong {
    color: #757575;
    font-weight: 600;
  }
}
