<div class="container-fluid noPadd about-banner">
  <img src="../../../../assets/images/charity-banner.jpg" alt="image">
  <div class="container">
    <h2>Charity</h2>
  </div>
</div>
<div class="container-fluid noPadd white_bg page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 charity-sec">
        <img src="../../../../assets/images/charity-round-img.png" alt="" />
        <p><strong>My name is Zuriel Babalola, as the Founder and CEO of Xpertsbid,</strong><br />
          I want to tell you that Improving people’s life is the core philosophy of Xpertsbid. We believe that we can
          enhance people’s lives not by wishing that it happens but through active participation in improving lives.
          Xpertsbid is delighted to introduce you to the different charity organization we are actively supporting at
          this moment. Please take a moment to access the link and demonstrate through action that you want to improve
          people’s lives too. We encourage you to donate funds to these charities.
        </p>
        <p>We thank you once more for your generosity and act of kindness.</p>
      </div>
    </div>
  </div>

</div>