<div class="container-fluid noPadd about-banner">
  <img src="../../../assets/images/about-banner.jpg" alt="image">
  <div class="container">
    <h2>About Us</h2>
  </div>
</div>

<div class="container-fluid noPadd white_bg page">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cntr-link about_nav_desk">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="row">

          <mat-tab-group animationDuration="0ms">

            <mat-tab label="About">
              <div class="tabContent about">

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left-img-sec">
                    <div class="img-div">
                      <img src="../../../assets/images/mechanic-img.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 right-text-part">
                    <h1><span class="right-txt-hding">About us</span></h1>
                    <p>Have you ever had the feeling that what you are paying for a service is way too much? Well, you
                      are
                      probably right. This feeling is at the core of our motivation and mission to create this
                      marketplace for
                      you as the consumer and service provider. </p>
                    <p>Our online marketplace provides the platform for consumers to find service providers at
                      reasonable
                      cost. We believe that the cost of any repair, service or installation should be fair. No other
                      website
                      provides this level of service and commitment to quality and low cost service as Xpertsbid. We
                      want you
                      to have the options to choose and decide your own service provider based on the critical details
                      our
                      platform provides, such as service provider reviews and qualifications.</p>
                    <p>
                      Our unique bidding platform allows service providers to place bids for your projects. Xpertsbid
                      philosophy of providing low cost service compels us to promote a marketplace where you can find
                      the
                      right service provider for your needs.</p>
                    <p>We found that many platforms on the web today provide quotes from preselected service
                      providers. Our
                      approach is different, we believe that providing quotes does not necessarily equate to quality
                      or fair
                      pricing. Our platform is a true bidding site that promotes competition between all service
                      providers in
                      each of the category we support. </p>
                  </div>
                </div>

              </div>
            </mat-tab>

            <mat-tab label="Team">
              <div class="tabContent">

                <div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 charity-sec investor about_team">
                    <h1><span class="right-txt-hding">Our Team</span></h1>
                    <p>Our team is dedicated to providing you continuous excellent experience on our unique
                      marketplace platform. We have a diverse group of individuals from various backgrounds and
                      different set of skills, but with the same focus to provide you with the best possible service.
                      We believe that with
                      collaboration and team effort we can achieve greater levels of enhancements to our services</p>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 team-info">
                    <div class="row">

                      <!-- item -->
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 team-members">
                        <div class="item">
                          <div class="text-center bids-sec xb-sec"> <span class="img-wrap"><img
                                src="../../../../assets/images/team1.png" alt="image" /></span>
                            <h1>Zuriel Babalola</h1>
                            <span class="lght-color-p">Product Management/ Research & Development</span>
                            <p>Zuriel is the founder and CEO of Xpertsbid. He has a passion to connect with people and
                              make their lives better. This passion led to the founding of Xpertsbid in 2015. </p>
                          </div>
                        </div>
                      </div>
                      <!-- item Ends -->
                      <!-- item -->
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 team-members">
                        <div class="item">
                          <div class="text-center bids-sec xb-sec"> <span class="img-wrap"><img
                                src="../../../../assets/images/team2.png" alt="image" /></span>
                            <h1>Pravin Patil</h1>
                            <span class="lght-color-p">Developer</span>
                            <p>Pravin is an accomplished developer with 10 years of experience in the IT industry
                              Delivered end to end solution for aymenttransactions. Worked extensively in VB.NET, C#,
                              ASP.NET, HTML, Java Script languages. Well versed with RDBMS like MS-SQL server
                              2005/2008.</p>
                          </div>
                        </div>
                      </div>
                      <!-- item Ends -->
                      <!-- item -->
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 team-members">
                        <div class="item">
                          <div class="text-center bids-sec xb-sec"> <span class="img-wrap"><img
                                src="../../../../assets/images/team3.png" alt="image" /></span>
                            <h1>Shailesh Sur</h1>
                            <span class="lght-color-p">Product Engineering</span>
                            <p>Shailesh is a Senior Software architect and Project lead with years of experience
                              managing multinational team.</p>
                          </div>
                        </div>
                      </div>
                      <!-- item Ends -->


                    </div>
                  </div>

                </div>

              </div>
            </mat-tab>

            <mat-tab label="Advisory">
              <div class="tabContent">

                <div class="row-fluid">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 charity-sec investor about_team">
                    <h1><span class="right-txt-hding">Advisors</span></h1>
                  </div>
                  <!-- item row -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 team-info">
                    <div class="row">
                      <!-- item -->
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 team-members advsr-sec">
                        <div class="item">
                          <div class="bids-sec xb-sec advisory-sec">
                            <div class="inner-content">
                              <div class="advisory-img">
                                <span class="img-wrap"><img src="../../../../assets/images/team1.png"
                                    alt="image" /></span>
                              </div>
                              <div class="advisory-text">
                                <h1>Todd Whittington</h1>
                                <span class="lght-color-p">Strategic Innovation Entrepreneur</span>
                                <p>As CEO of Rekovo, Todd is focused on bringing together technology and caregivers.
                                  Our first product is Agile Arts, a tool for therapists to use with patients with
                                  balance and movement difficulties. Todd is also a Director at 10Xelerator or "10X"
                                  An Ohio premier accelerator program... </p>
                                <a href="javascript:void(0)" class="show-more-btn">Show more</a>
                              </div>
                              <p class="advisory">singing and playing bass guitar in the family gospel band with his
                                parents and three brothers. Steven went on to play in several bands and DJ in clubs
                                during college before ultimately releasing two alternative rock albums on Convertible
                                Fly Records with his band mate Enrique Platas.
                                Although rooted in music, TakeLessons has expanded to serve many verticals, including
                                academic tutoring and performing arts. Throughout the growth, the mission has remained
                                unchanged.
                                Prior to founding TakeLessons, Steven was Managing Partner of Reddito LLC, an
                                e-commerce and Internet marketplace consulting firm with clients including Cisco, Club
                                Med, Wells Fargo, and Intel.
                                Steven also served as Vice President of Business Development for CollegeClub.com, an
                                early social network, and was a founding employee of PurchasePro, a B2B marketplace
                                that grew to an IPO in 1999.
                                Steven graduated with honors from Eastern Kentucky University with degrees in
                                Investment Finance and Human Communications. He writes regularly about business,
                                motivation, and life lessons on his blog: http://stevencox.com </p>
                              <a href="javascript:void(0)" class="hide-btn">Show less</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- item Ends -->
                      <!-- item -->
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 team-members advsr-sec">
                        <div class="item">
                          <div class="bids-sec xb-sec advisory-sec">
                            <div class="advisory-img">
                              <span class="img-wrap"><img src="../../../../assets/images/team3.png"
                                  alt="image" /></span>
                            </div>
                            <div class="advisory-text">
                              <h1>Adam Zeitsiff</h1>
                              <span class="lght-color-p">CEO / President / CSO / C-Level SaaS</span>
                              <p>Expertise in Providing a Game-Changing Edge to Grow SaaS & Tvechnology Companies in
                                Competitive Landscapes
                                <br />Champion at executing & operating enterprise SaaS / Cloud software &
                                tech-oriented companies for scale, sustainable growth & performance excellence...</p>
                              <a href="javascript:void(0)" class="show-more-btn1">Show more</a>
                            </div>
                            <p class="advisory1">singing and playing bass guitar in the family gospel band with his
                              parents and three brothers. Steven went on to play in several bands and DJ in clubs
                              during college before ultimately releasing two alternative rock albums on Convertible
                              Fly Records with his band mate Enrique Platas.
                              Although rooted in music, TakeLessons has expanded to serve many verticals, including
                              academic tutoring and performing arts. Throughout the growth, the mission has remained
                              unchanged.
                              Prior to founding TakeLessons, Steven was Managing Partner of Reddito LLC, an e-commerce
                              and Internet marketplace consulting firm with clients including Cisco, Club Med, Wells
                              Fargo, and Intel.
                              Steven also served as Vice President of Business Development for CollegeClub.com, an
                              early social network, and was a founding employee of PurchasePro, a B2B marketplace that
                              grew to an IPO in 1999.
                              Steven graduated with honors from Eastern Kentucky University with degrees in Investment
                              Finance and Human Communications. He writes regularly about business, motivation, and
                              life lessons on his blog: http://stevencox.com </p>
                            <a href="javascript:void(0)" class="hide-btn1">Show less</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- item Ends -->
                  </div>
                  <!-- item row  End-->

                  <!-- item row -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 team-info">
                    <div class="row">
                      <!-- item -->
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 team-members advsr-sec">
                        <div class="item">
                          <div class="bids-sec xb-sec advisory-sec">
                            <div class="advisory-img">
                              <span class="img-wrap"><img src="../../../../assets/images/team4.png"
                                  alt="image" /></span>
                            </div>
                            <div class="advisory-text">
                              <h1>Steven Cox </h1>
                              <span class="lght-color-p">Chief Executive Officer, TakeLessons</span>
                              <p>Steven founded TakeLessons in 2006 with a simple mission to make a positive, lasting
                                impact on millions of people. The best way to accomplish that mission was to use
                                technology to help artists make a living doing what they love.
                                <br />Steven's passion for music developed early... </p>
                              <a href="javascript:void(0)" class="show-more-btn2">Show more</a>
                            </div>
                            <p class="advisory2">singing and playing bass guitar in the family gospel band with his
                              parents and three brothers. Steven went on to play in several bands and DJ in clubs
                              during college before ultimately releasing two alternative rock albums on Convertible
                              Fly Records with his band mate Enrique Platas.
                              Although rooted in music, TakeLessons has expanded to serve many verticals, including
                              academic tutoring and performing arts. Throughout the growth, the mission has remained
                              unchanged.
                              Prior to founding TakeLessons, Steven was Managing Partner of Reddito LLC, an e-commerce
                              and Internet marketplace consulting firm with clients including Cisco, Club Med, Wells
                              Fargo, and Intel.
                              Steven also served as Vice President of Business Development for CollegeClub.com, an
                              early social network, and was a founding employee of PurchasePro, a B2B marketplace that
                              grew to an IPO in 1999.
                              Steven graduated with honors from Eastern Kentucky University with degrees in Investment
                              Finance and Human Communications. He writes regularly about business, motivation, and
                              life lessons on his blog: http://stevencox.com </p>
                            <a href="javascript:void(0)" class="hide-btn2">Show less</a>
                          </div>
                        </div>
                      </div>
                      <!-- item Ends -->
                      <!-- item -->
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 team-members advsr-sec">
                        <div class="item">
                          <div class="bids-sec xb-sec advisory-sec">
                            <div class="advisory-img">
                              <span class="img-wrap"><img src="../../../../assets/images/team5.png"
                                  alt="image" /></span>
                            </div>
                            <div class="advisory-text">
                              <h1>Cameron Funk</h1>
                              <span class="lght-color-p">Director Business Development at ABM Industries /USA</span>
                              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur...</p>
                              <a href="javascript:void(0)" class="show-more-btn3">Show more</a>
                            </div>
                            <p class="advisory3">singing and playing bass guitar in the family gospel band with his
                              parents and three brothers. Steven went on to play in several bands and DJ in clubs
                              during college before ultimately releasing two alternative rock albums on Convertible
                              Fly Records with his band mate Enrique Platas.
                              Although rooted in music, TakeLessons has expanded to serve many verticals, including
                              academic tutoring and performing arts. Throughout the growth, the mission has remained
                              unchanged.
                              Prior to founding TakeLessons, Steven was Managing Partner of Reddito LLC, an e-commerce
                              and Internet marketplace consulting firm with clients including Cisco, Club Med, Wells
                              Fargo, and Intel.
                              Steven also served as Vice President of Business Development for CollegeClub.com, an
                              early social network, and was a founding employee of PurchasePro, a B2B marketplace that
                              grew to an IPO in 1999.
                              Steven graduated with honors from Eastern Kentucky University with degrees in Investment
                              Finance and Human Communications. He writes regularly about business, motivation, and
                              life lessons on his blog: http://stevencox.com </p>
                            <a href="javascript:void(0)" class="hide-btn3">Show less</a>
                          </div>
                        </div>
                      </div>
                      <!-- item Ends -->

                    </div>
                  </div>
                  <!-- item row  End-->


                </div>

              </div>
            </mat-tab>

            <mat-tab label="Investors">
              <div class="container-fluid">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 charity-sec investor">
                      <h1><span class="right-txt-hding">Investors</span></h1>
                      <img src="../../../../assets/images/investor-round-img.png" alt="" />
                      <p>As a startup company we are energetic to partner with investors that would mutually help our
                        company to grow and achieve its full potential. We see our investors as collaborators and
                        together we can continue to sustain and grow the Xpertsbid marketplace for both the consumers
                        and the service providers. If you are an investor and would like more information about our
                        operation or general inquiry please send an email.
                        <br /><strong><a href="mailto:">Investors@xpertsbid.com</a></strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Contact">
              <div class="tabContent">
                <div class="row-fluid">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="text-center"><span class="right-txt-hding">Contact</span></h1>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left-img-sec">
                        <div class="img-div support-img">
                          <img src="../../../../assets/images/support.png" alt="">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 right-text-part">

                        <div class="about-contact-info">

                          <div class="mail-info text-left">
                            <h1 class="text-left">Please send your inquiry to the appropriate address below.</h1>
                            <p>Any technical difficulty should be sent to this address</p>
                            <a href="mailto:" class="blue-text">Support@xpertsbid.com</a>

                            <p>Any privacy related inquiry should be sent to this address</p>
                            <a href="mailto:" class="blue-text">Privacy@xperstbid.com</a>

                            <p>Any investor related inquiry should be sent to this address</p>
                            <a href="mailto:" class="blue-text">Investors@xpertsbid.com</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>


          </mat-tab-group>

          <!-- <ul class="about_nav">
            <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0)">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ajavascript:void(0)">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Advisory </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="javascript:void(0)">Investors </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="javascript:void(0)">Contact</a>
            </li>
          </ul> -->




        </div>
      </div>
    </div>
  </div>


  <!-- <div class="container-fluid page">
    <div class="container sm_full_width">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left-img-sec">
              <div class="img-div">
                <img src="../../../assets/images/mechanic-img.jpg" alt="">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 right-text-part">
              <h1><span class="right-txt-hding">About us</span></h1>
              <p>Have you ever had the feeling that what you are paying for a service is way too much? Well, you are
                probably right. This feeling is at the core of our motivation and mission to create this marketplace for
                you as the consumer and service provider. </p>
              <p>Our online marketplace provides the platform for consumers to find service providers at reasonable
                cost. We believe that the cost of any repair, service or installation should be fair. No other website
                provides this level of service and commitment to quality and low cost service as Xpertsbid. We want you
                to have the options to choose and decide your own service provider based on the critical details our
                platform provides, such as service provider reviews and qualifications.</p>
              <p>
                Our unique bidding platform allows service providers to place bids for your projects. Xpertsbid
                philosophy of providing low cost service compels us to promote a marketplace where you can find the
                right service provider for your needs.</p>
              <p>We found that many platforms on the web today provide quotes from preselected service providers. Our
                approach is different, we believe that providing quotes does not necessarily equate to quality or fair
                pricing. Our platform is a true bidding site that promotes competition between all service providers in
                each of the category we support. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>