 .cnt-info {
  padding: 0;
}
.cont-left h1 {
  margin-bottom: 20px;
}
.mail-icon {
  margin-right: 15px;
}
.phone-icon {
  margin-right: 15px;
}
.cont-left {
  padding: 80px 30px;
}
.cont-left h3 {
  color: #08384d;
  float: left;
  font-size: 18px;
  width: 100%;
}
.cont-left .about-contact-info > p {
  color: #686868;
  font-size: 16px;
}
.cont-left .about-contact-info > a {
  text-decoration: none;
}
.cnt-info-main{
  margin-bottom: 20px;
  input {
    box-shadow: none;
    height: 56px;
  }
  textarea {  box-shadow: none; }
} 
 
.submit-btn {
  background: #f45117 none repeat scroll 0 0;
  border-radius: 32px;
  color: #fff;
  float: left;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.submit-btn:hover,
.submit-btn:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .cont-left { padding: 80px 0; }
}
.about-contact-info { width: 100%; }
.about-contact-info p {
  margin-bottom: 2px;
  margin-top: 10px;
  float: left;
  width: 100%;
}
.about-contact-info h1 {
  color: #08384d;
  font-size: 21px;
}
.blue-text {
  background: rgba(0, 0, 0, 0) url("../../../../assets/images/emailOrange.png") no-repeat scroll left center;
  color: #08384d;
  float: left;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  width: 100%;
}
