<footer>
  <div class="container-fluid footer_sec">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 footer_box1">
          <a href="index.html" class="logo_f">
            <img
              src="../assets/images/logo1.png"
              width="120"
              height="49"
              alt="logo"
              class="black_logo" />
          <img
          src="../assets/images/logo_footer.png"
          width="120"
          height="49"
          alt="logo"
          class="white_logo" />
        </a>
          <p class="common_p">
            Our online marketplace provides the platform for consumers to find
            service providers at reasonable cost. We believe that the cost of
            any repair, service or installation should be fair. No other website
            provides this level of service...
          </p>
          <a href="about-us.html"> Read More </a>
        </div>
        
        <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 footer_box">
          <h2>Useful Links</h2>
          <ul>
            <li><a [routerLink]="['/about-us']">About Xpertsbid</a></li>
            <li><a href="javascript:void(0)">Feedback</a></li>
            <li><a href="javascript:void(0)">Lending Tree</a></li>
            <li><a href="javascript:void(0)">Upstart</a></li>
            <li><a [routerLink]="['/terms']">Terms of Use</a></li>
            <li><a [routerLink]="['/charity']">Charity</a></li>
            <li><a [routerLink]="['/contact']">Contact us</a></li>
            <li><a [routerLink]="['/service-provider']">Service Provider</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 footer_box2">
          <h2>PARTNERS</h2>
          <div class="partnerlogo-main">
            <div class="partner-logo">
              <a href="javascript:void(0)"><img alt="pic" src="../assets/images/lendingtree/lendingtree-logo.png"></a>
            </div>
            <div class="partner-logo">
              <a href="javascript:void(0)" target="_blank">Escrow.com</a>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy_right">
    <div class="container">
      <div class="copy">
        <p class="common_p">© XpBids 2018. All Rights Reserved.</p>
      </div>
      <ul class="social">
        <li><a href="javascript:void(0)" class="common fb_icon"></a></li>
        <li><a href="javascript:void(0)" class="common twitter_icon"></a></li>
        <li><a href="javascript:void(0)" class="common in_icon"></a></li>
      </ul>
    </div>
  </div>
</footer>
