<div class="container-fluid calander_sec">
  <div class="container">
    <div class="row">
      <div class="calander_content">
        <div class="calander_left">
          <div class="day_week_scheduler">
            <div class="menu_round">
              <span class="vertical_menu_sec"><span class="vertical_menu"></span></span>
              <div class="day_list">
                <ul>
                  <li><a (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Month</a></li>
                  <li><a (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Day</a></li>
                  <li><a (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Week</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="scheduled_date">
            <h2>{{viewDate | date: 'EEEE MMMM d'}}{{(viewDate | date: "d") | dateSuffix}}</h2>
          </div>
          <div class="appointment_tbl">
            <table class="table">
              <thead>
                <tr>
                  <th>Appointments</th>
                  <th>
                    <a   (click)="viewAllClick()">View all</a>
                     
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of todayEvents">
                  <td>
                    <!-- <a (click)="editEvent(event)">Edit</a> -->
                    <a (click)="handleEvent('Clicked',event)">{{event.title}}</a></td>
                  <td class="Appointment_time">{{event.start | date: 'h:mm a'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="calander_right">
          <table class="fc-header" style="width:100%">
            <tr>
              <td  (click)="getAllEvents()"
                  class="fc-header-left" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"><span
                  class="fc-button fc-button-prev fc-state-default fc-corner-left fc-corner-right"
                  unselectable="on"><span class="fc-text-arrow">‹</span></span><span class="fc-header-space"></span>
              </td>
              <td class="fc-header-center"><span class="fc-header-title">
                  <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
                </span></td>
              <td (click)="getAllEvents()"
                  class="fc-header-right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"><span
                  class="fc-button fc-button-next fc-state-default fc-corner-left fc-corner-right"
                  unselectable="on"><span class="fc-text-arrow">›</span></span></td>
            </tr>
          </table>
          <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="allEventList"
              [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              [cellTemplate]="customCellTemplate"
              [weekStartsOn]="1">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="allEventList"
              [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="allEventList"
              [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
          </div>
          <div class="Add_event mt-5">
            <button class="add_btn" (click)="addNewEventClick()">+</button>
          </div>

          <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top">
              <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
              <div class="cal-events ng-star-inserted" *ngIf="day.events.length > 0">
                <span 
                class="cal_event_title w100" 
                *ngFor="let event of day.events"
                [style.background]="event.color.primary" 
                >
                <span class="eventShortTime"> {{ event.start | shortTime : day.date }} </span>
                <span class="eventTitle">{{event.title}}</span>

                <small style="display: none;"> {{ day | json }} </small>
              </span>
              
              </div>
            </div>
          </ng-template>


        </div>
      </div>
    </div>
  </div>
</div>