<div class="container-fluid noPadd about-banner">
  <img src="../../../../assets/images/sp-banner.jpg" alt="image">
  <div class="container">
    <h2>Service Provider</h2>
  </div>
</div>

<div class="container-fluid noPadd white_bg page">
  <div class="container services sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 privacy-sec categories-right">
        <div class="content-sec sp-content" id="Home-service">
          <p>Welcome to Xpertsbid. We are glad that you are looking to partner with us in providing your services to the
            local community you currently serve. Our platform is designed to optimize your business and allow you to
            compete for consumer projects more directly. </p>
          <p>Our website is a market place that connects local consumers to local service providers through bidding.
            While most similar website provide curated service provider matching. We have taken a different approach; we
            feel that quotes do not often work in the best interest of you as the service provider.</p>
          <h1>Our bidding platform is designed for you to succeed. How?</h1>
          <ul class="list_items cate-list sp-list">
            <li>Local Consumers can now find you </li>
            <li>You can receive direct SMS and email notification of projects in your category</li>
            <li>You can respond directly to consumer posts</li>
            <li>You can schedule visits to consumers</li>
          </ul>
          <ul class="list_items cate-list sp-list">
            <li>You can bid directly on projects </li>
            <li>You can view what your competition is bidding </li>
            <li>Your payments from consumers are secure</li>
          </ul>
          <p><a href="sign-up.html" class="get-started">Let’s Get Started</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->

<!-- _____ Content Sec Starts ____ -->
<div class="container-fluid market-bg page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 m-place-txt">
            <h1>Our marketplace is very easy to use,</h1>
            <p> because we believe in keeping everything simple! We want local consumers to find you very quickly and
              directly. We understand that you want to optimize your time and plan your work. Xpertsbid marketplace will
              help you accomplish that goal. </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 m-place-img"> <img
              src="../../../../assets/images/market-place-lp.png" alt="img" /> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->

<!-- _____ Content Sec Starts ____ -->
<div class="container-fluid sp-vdo-sec page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 vdos tst-vdo sp-video">
            <div class="texthover"> <img src="../../../../assets/images/sp-vdo.jpg" class="img-responsive" />
              <div class="overlay"> <a href="#" class="vdo-icon" role="button"
                  data-thevideo="http://www.youtube.com/embed/loFtozxZG0s" data-target="#videoModal-2"
                  data-toggle="modal"> </a> </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 sp-video-text">
            <h1>You might wonder “how you get paid?”</h1>
            <p>We have taken the time to integrate our platform with a secure consumer payment process. Once the
              consumer selects your bid to complete the project, consumers are immediately required to make payment for
              the work to be performed. After service provider completes the work, Xpertsbid will release the funds to
              you. </p>
            <p>Xpertsbid share the same concern as you do, and we are looking out for your interest. We believe in the
              fair value of service, hence we strive to protect the service provider and the consumer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->

<!-- _____ Content Sec Starts ____ -->
<div class="container-fluid xp-platform page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xp-platform-content">
        <h1>Xpertsbid on the Go!</h1>
        <p>Our platform is optimized for you to access our website on your mobile devices from phone or tablets. We
          understand that you might not have access to laptops or desktops in your office while you are in the field, so
          we designed Xpertsbid.com to compliment you. You can also download our free mobile application on your
          devices. You will be able to:</p>
        <ul class="list_items cate-list sp-list">
          <li>Receive SMS notification</li>
          <li>Review new Consumer posting</li>
          <li>Pre-bid on consumer posting (a feature that allows you to understand
            consumer need)</li>
        </ul>
        <ul class="list_items cate-list sp-list">
          <li>Bid on a consumer posting </li>
          <li>Reject Consumer posting if you are not interested</li>
        </ul>

      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->

<!-- _____ Content Sec Starts ____ -->
<div class="container-fluid sp-promotion page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 sp-promotion-text">
            <h1>Service Provider Promotion!</h1>
            <p> Xpertsbid team is committed to helping you have more success in your field of expertise. We actively
              feature active service providers on our main landing page so that our consumers can appreciate your
              service as a model for the category you serve.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 m-place-img"> <img
              src="../../../../assets/images/sp-promotion-img.png" alt="img" /> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->

<!-- _____ Content Sec Starts ____ -->
<div class="container-fluid sp-blog page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 m-place-img"> <img
              src="../../../../assets/images/market-place-lp.png" alt="img" /> </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 sp-blog-text">
            <h1>Xperts blog?</h1>
            <p>We believe that written content is a driving force behind exposure and marketing in this day and age. We
              are happy to invite you to contribute to the community of knowledge sharing and dialogue. Xpertsbid
              invites you to write and submit blog content on subjects related to your field and categories. Your blog
              content are featured on our blog site at www.Xpertsblog.com the content you submit to the blog site
              increases the consumer awareness and ultimately promotes your business in the community your serve.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->

<!-- _____ Content Sec Starts ____ -->
<div class="container-fluid page">
  <div class="container sm_full_width">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cost-to-u">
        <h1>Cost to you?</h1>
        <p>Signing up for any of our services is of course free to you. Our service costs you nothing until a consumer
          has paid 100% of the cost of your service. In order for us
          to provide his services to you, we also incur operation costs and for that reason we charge you a minimal
          service fee. Please see our charge breakdown
          as detailed in our <a href="privacy.html" class="policy-link">policy</a> guide.
        </p>
        <p class="bold-txt"><strong>Are you ready to start bidding for projects? We hope so!</strong></p>
        <a href="sign-up.html" class="get-started">Let’s Get Started</a>
      </div>
    </div>
  </div>
</div>
<!-- _____ Content Sec Ends ____ -->